<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar-style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Navigation Bar</title>
</head>
<body>
    <nav class="bg-body-tertiary border-bottom p-2">
        <div class="container-fluid text-center">
            <div class="row row-cols-auto">
                <div class="col-md-4 p-2">
                    <a href=#" class="nav-brand text-light">J<span id="primary-color">F</span></a>
                </div>
                <div class="col p-2">
                    <a href="" class="project text-light">Project's</a>
                </div>

                <div class="col p-2">
                    <a href="" class="github text-light">GitHub</a>
                </div>
                <div class="col p-2">
                    <a href="" class="linkedin text-light">Linkedin</a>
                </div>
                    
                <div class="col-md-4 p-1">
                    <button class="btn btn-outline-primary">Resume</button>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>